
.add__hotel__heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.add__hotel__form > form {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 40px;
}

.add__hotel__form > form > label {
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
}

.add__hotel__form > form > input, .add__hotel__form > form > select, .add__hotel__form > form > textarea {
    margin-left: 10px;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    border: 0.1px solid black;
}

.add__hotel__form > form > input:focus, .add__hotel__form > form > select:focus, .add__hotel__form > form > textarea:focus {
    box-shadow: 0px 0px 4px 2px;
    transform: scale(1.05);
    border: none;
    outline: none;
}

.add__hotel__button {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.add__hotel__button > button {
    padding: 15px;
    border-radius: 7px;
    background-color: dodgerblue;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    
}

.add__hotels__body {
    display: flex;
    justify-content: center;
}


.notification {
    display: none;
    justify-content: center;
    align-items: center;
    border: 4px solid green;
    background-color: green;
    height: 50px;
    padding: 5px;
    border-radius: 20px;
}

.notification > h3 {
    font-size: 28px;
    color: white;
}

.notification-danger {
    display: none;
    justify-content: center;
    align-items: center;
    border: 4px solid red;
    background-color: red;
    height: 50px;
    padding: 5px;
    border-radius: 20px;
}

.notification-danger > h3 {
    font-size: 28px;
    color: white;
}
